<!-- views/pages/index.ejs -->

<% include partials/header %>

<h2>Regions</h2>
<ul>
   <% regions.forEach(function(region) 
         { %>
   <li>
      <a href="/regions/<%= region.name %>" class="btn region" role="region_click">
         <%= region.provider %> : <%= region.name %>
      </a>
   </li>
   <% }); %>
</ul>

<% include partials/footer %>