<!-- views/region.ejs -->
<% include partials/header %>

<h2>Region</h2>
<h2><%- region %> </h2>

<h2>Deployments</h2>

<ul>
    <% deployments.forEach(function(deployment) 
            { %>
    <li>
        <a href="/regions/<%= region %>/<%=deployment.name %>">
            <%= deployment.name %>
        </a>
    </li>
    <% }); %>
</ul>

<% include partials/footer %>